# Allow built-in dependencies to run build scripts (especially for sharp)
pnpm.only-allow-trusted-dependencies=false
side-effects-cache=false
node-linker=hoisted
public-hoist-pattern[]=*
shamefully-hoist=true
